*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //this defines what 1rem is. 62.5% = 10px
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: $default-font-size;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgba($color-black-1, .87);
}

//Display 1 45px Light
.font-1 {
    @include font-display-1;
}

//Display 2 34px light
.font-2 {
    @include font-display-1;
}

//Headline 24px Regular
.font-3 {
    @include font-headline;
}

//Title 20px Medium
.font-4 {
    @include font-title;
}

//Subheading 16px Regular
.font-5 {
    @include font-subhead;
}

//Caption 12px Regular
.font-6 {
    @include font-caption;
}

//Button
.font-7 {
    @include font-button;
}