/*
    HEADER
*/

.header {
    width: 100%;
    height: 61.8vh;
    background-image: linear-gradient(
        to bottom,
        rgba($color-main-3, 0.6) 0%,
        rgba($color-main-2, 0.6) 50%,
        rgba($color-second-1, 0.6) 100%),
        url('./img/background-2x.jpg');
    background-size: cover;
    background-position: center;
    overflow: auto;
    
    h1, h2 {
        color: $color-grey-4;
    }

    &__text {
        text-align: center;
        margin-top: 6rem;
        margin-bottom: 6rem;

        @media only screen and (max-height: 500px) {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }

        @media only screen and (max-height: 360px) {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__lead-text {
        @media only screen and (max-width: 500px) {
            font-size: 3.4rem;
        }

        @media only screen and (min-width: 900px) {
            font-size: 4.5rem;
            font-weight: 500;
        }
    }

    &__sub-text {

        @media only screen and (max-width: 500px) {
            font-size: 2.2rem;
            font-weight: 300;
        }

        @media only screen and (min-width: 900px) {
            font-size: 4rem;
            font-weight: 300;
        }
    }

    &__button-container {
        margin: 0 auto;
        text-align: center;

        & > *:first-child {
            margin-right: 2rem;
        }
    }

    &__button {
        margin: 0 auto;
    }
}


/*
    BUTTONS
*/

.btn {
    
    &,
    &:link,
    &:visited {
        display: inline-block;
        @include font-button;
        padding: 1rem 2rem;
        color: $color-grey-1;
        background-color: $color-grey-3;
        border-radius: 100px;
        border: none;    
        text-decoration: none;
        cursor: pointer;
        transition: all .3s;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1.1rem rgba($color-black-1, 0.2);
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black-1, 0.2);
    }

    &--blue {
        &,
        &:link,
        &:visited {
            background-color: $color-main-1;
            color: $color-grey-3;
        }
    }

}

/*
    FEATURE
*/

.feature {
    background-color: $color-grey-3;
    
    //We're selecting every feature box except the last one
    [class^=col-]:not(:last-child) > &__box{
        margin-bottom: 3rem;
    }

    &__box {
        margin: 0 auto;
        max-width: 28rem;
        min-height: 30rem;
        text-align: center;
        background-color: $color-grey-4;
        padding: 2.4rem;
        box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 4px 8px rgba(0, 0, 0, 0.25);
        transition: all .4s;

        &:hover {
            transform: translateY(-1.5rem)
                        scale(1.03);
        }
    }

    &__icon {
        display: inline-block;
        height: 5rem;
        width: 5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    &__title {
        color: rgba($color-black-1, .87);
        margin-bottom: 1.6rem;
    }

    &__text {
        color: rgba($color-black-1, .54);
        text-align: justify;
        line-height: 1.8rem;
    }
}

/*
    ABOUT
*/

.about {
    background: linear-gradient(
        to bottom,
        #03A9F4 12.71%, 
        #673AB7 100%);
    

    &__profile {
        text-align: center;
        margin-bottom: 3rem;
    }

    &__profile-picture {
        border-radius: 50%;
        box-shadow: 0 5px 1rem rgba($color-black-1, .6);
    }

    &__social-container {
        margin-top: 2rem;
    }

    &__social-icon {
        height: 4rem;
        width: 4rem;
        display: inline-block;
        transition: all .4s;

        &:hover {
            transform: translateY(-.7rem) scale(1.1);
        }

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &--linkedin {
            background-image: url('./img/SVG/linkedin.svg?fill=%23fafafa');
            
        }

        &--github {
            background-image: url('./img/SVG/github.svg?fill=%23fafafa');
        }

        &--codepen {
            background-image: url('./img/SVG/codepen.svg?fill=%23fafafa');
        }
    }

    &__text {
        text-align: justify;
        color: $color-grey-4;
        margin-bottom: 4.5rem;
    }

    &__skill-category {
        text-align: center;
        color: $color-grey-4;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }

    &__skill-container {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;
    }

    &__skill-item {
        margin: 1rem;
        padding: 1rem 1.6rem;
        background-color: $color-main-2;
        /* cursor: pointer; */
        transition: all .3s;

        /* &:hover {
            transform: scale(1.3);
            box-shadow: 0 4px 1rem rgba($color-black-1, .2);
        }

        &:hover .about__skill-text {
            background-image: linear-gradient(to right, rgba($color-second-2, .8), rgba($color-second-3, .8));
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;            
        } */
        
    }

    &__skill-text {
        @include font-button;
        color: $color-grey-4;
        font-weight: 500;
        text-transform: uppercase;
        transition: all .3s;
    }
}

/*
    GALLERY
*/

.gallery {
    // Fix wrapping issue because of whitespace between inline blocks
    font-size: 0;
    padding: 0;
    background-color: $color-grey-2;

    .container-fluid {
        padding: 0;
    }

    &__item-wrapper {
        display: inline-block;
        width: 25%;
        overflow: hidden;

        @media only screen and (max-width: 1200px) {
            width: 33.333%;
        }

        @media only screen and (max-width: 900px) {
            width: 50%;
        }

        @media only screen and (max-width: 500px) {
            width: 100%;
        }
    }

    figure {
        position: relative;
        

        &:hover figcaption {
            transform: translateY(0);
        }
    }

    figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2rem 1rem;
        text-align: center;
        font-size: $default-font-size;
        background-color: rgba($color-grey-1, .6);
        transform: translateY(10rem);
        transition: transform .2s;
    }

    &__link {

        &:link,
        &:visited {
            color: $color-grey-4;
            text-decoration: none;
        }

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }

    &__item {
        width: 100%;
        transition: all .4s;

        &:hover {
            transform: scale(1.3);
        }
    }
}

/*
    CONTACT
*/

.contact {

    &__title  {
        font-size: 2.4rem;
        font-weight: 300;
        font-stretch: expanded;
        text-transform: uppercase;
    }
}

.form {

    h2 {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: rgba($color-black-1, .87);
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-grey-2, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black-1, .1);
            border-bottom: 3px solid $color-main-1;
        }

        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }

        &::placeholder {
            color: rgba($color-black-1, .87);
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba($color-black-1, .87);
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: rgba($color-black-1, .87);
        }

        :-ms-input-placeholder { /* IE 10+ */
            color: rgba($color-black-1, .87);
        }

        :-moz-placeholder { /* Firefox 18- */
            color: rgba($color-black-1, .87);
        }
    }

    &__message {
        font-size: 1.5rem;
        font-family: inherit;
        color: rgba($color-black-1, .87);
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-grey-2, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black-1, .1);
            border-bottom: 3px solid $color-main-1;
        }

        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }

        &::placeholder {
            color: rgba($color-black-1, .87);
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba($color-black-1, .87);
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: rgba($color-black-1, .87);
        }

        :-ms-input-placeholder { /* IE 10+ */
            color: rgba($color-black-1, .87);
        }

        :-moz-placeholder { /* Firefox 18- */
            color: rgba($color-black-1, .87);
        }
    }

    &__label {
        color: rgba($color-black-1, .87);
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}

/*
    FOOTER
*/

.footer {
    text-align: center;
    background-color: $color-black-4;
    padding: 3rem 2rem;

    &__text {
        color: $color-grey-2;
        vertical-align: middle;

        &:first-child{
            margin-bottom: 2rem;
        }
    }

    &__github-icon {
        display: inline-block;
        height: 2.9rem;
        width: 2.9rem;
        vertical-align: middle;
    }

    &__github-icon path {
        fill: pink;
    }

    &__link {
        padding-left: 1rem;
        padding-right: 1rem;
        vertical-align: middle;
        line-height: 2.9rem;

        &:link,
        &:visited {
            color: $color-main-1;
            background-color: $color-black-4;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .3s;
        }

        &:hover,
        &:active {
            color: $color-grey-2;
            box-shadow: 0 1rem 2rem rgba($color-black-1, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }
}